

:root {
  --primary-grey-border: #d9d9d9;
  --primary-grey-label: #737373;
  --background-grey: #fafafa;
  --border-color-focus: #4ab5e8;
  --paypal-orange: #ffc439;
  --paypal-orange-hover: #e5b033;
  --button-blue : #0099cc;
  --button-blue-hover: #0089b7;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--primary-grey-label);
}
::-moz-placeholder { /* Firefox 19+ */
  color: var(--primary-grey-label);
}
:-ms-input-placeholder { /* IE 10+ */
  color: var(--primary-grey-label);
}
:-moz-placeholder { /* Firefox 18- */
  color: var(--primary-grey-label);
}

@media (min-width: 1000px) { /*big*/
	.main {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		width: 60%;
		padding: 4rem;
	}

	.main-content {
		width: 100%;
		max-width: 40rem;
	}

	.sidebar {
		display: flex;
		width: 100%;
		padding: 4rem 3rem;
		background: var(--background-grey);
	}

	.sidebar-responsive {
		display: none;
	}

	.sidebar-non-responsive {
		width: 40%;
		background: var(--background-grey);
	}

	.section-4 {
		display: none;
	}
}

@media (max-width: 1000px) { /*small*/
	.main {
		width: 100%;
		padding: 1.5rem 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.sidebar {
		display: flex;
		width: 100%;
		max-width: 35rem;
		padding: 2rem 1rem 1rem;
		background: var(--background-grey);
	}

	.main-header {
		max-width: none !important;
	}

	.main-content {
		width: 100%;
		max-width: 35rem;
		padding: 1rem;
	}

	.sidebar-responsive {
		display: flex !important;
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
		background: var(--background-grey);
		margin-bottom: 1.5rem;
		border-style: solid;
		border-width: 1px 0;
		border-color: var(--primary-grey-border);
	}

	.sidebar-non-responsive {
		display: none;
	}

	.sidebar-content {
		max-width: 35rem !important;
	}

	.sidebar-section-4 {
		display: none;
	}

	.section-4 {
		position: relative;
		width: 100%;
		margin: 2.5rem 0;
		border-top-style: solid;
		border-top-width: 1px;
		border-color: var(--primary-grey-border);
	}

	.section-4 .whyus-label span {
		background: white !important;
	}
}

@media (max-width: 500px) { /*tiny*/
	.paypal-logo-box {
		width: 100% !important;
	}

	.section-row {
		flex-wrap: wrap;
	}

	.column-331,
	.column-332,
	.column-333,
	.column-501,
	.column-502 {
		width: 100% !important;
		padding: 0 !important;
	}

	.column-331,
	.column-332,
	.column-501 {
		margin-bottom: 0.5rem;
	}

	.section-3 {
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}

	.section-3 span {
		width: 100%;
		text-align: center;
		padding-top: 1rem;
	}

	.order-button {
		width: 100% !important;
	}
}

.main-body {
	width: 100%;
	display: flex;
	min-height: 100vh;
	/*max-width: 78.57143em;*/
}

.main {
	background: white;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: var(--primary-grey-border);
	text-align: left;
}

.main-header {
	width: 100%;
	padding: 5px 0;
	margin-bottom: 1.5rem;
	text-align: left;
	font-weight: 500;
	font-size: 28px;
	line-height: 1;
	text-align: center;
	background: none;
	max-width: 40rem;
}

.sidebar-content {
	width: 100%;
	max-width: 31.428572em;
}

.section {
	padding: 0;
	margin: 0;
}

.section-2 {
	margin-top: 2.5rem;
}

.section-3 {
	margin-top: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section-3 span {
	color: #09c;
	font-size: 14px;
	cursor: pointer;
}

.section-header {
	font-size: 18px;
	margin-bottom: 0.8rem;
	text-align: left;
	font-weight: 400;
}


.field-group {
	position: relative;
	background: transparent;
}

.field-label {
  display: inline-block;
  position: absolute;
  padding-left: 0.7rem;
  z-index: -1;
  top: 12px;
  transition: all 150ms ease-in;
  color: var(--primary-grey-label);
  font-size: 12px;
  opacity: 0;
}

 .field-active {
 	z-index: 1;
  transform: translateY(-5px);
  color: var(--primary-grey-label);
  font-size: 12px;
  opacity: 1;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
}

.field-input {
	border-style: solid;
	width: 100%;
	background: white;
	border-width: 1px;
	border-radius: 5px;
	font-size: 14px !important;
	border-color: var(--primary-grey-border);
}

.field-input-inactive {
	padding: 0.7rem !important;
	transition: all 200ms ease-out;
}

.field-input-active {
	padding: 1.2rem 0 0.2rem 0.6rem !important;
	transition: all 200ms ease-out;
	border-color: red;
}

.field-input:focus {
	outline: 0;
}

.field-input-active:focus {
	outline: 0;
}

.field-input-active::placeholder {
	color: transparent;
}

.field-input::placeholder {
	color: var(--primary-grey-label);
}


.check-box {
	cursor: pointer;
	margin-right: 10px;
	background: transparent;
}

.check-box:hover {
	background: transparent !important;
}

.checkbox-row {
	display: flex;
	margin-top: 0.5rem;
	font-size: 14px;
}

.section-row {
	display: flex;
	width: 100%;
	margin-bottom: 0.5rem;
}

.section-row-2 {
	display: block;
	width: 100%;
	margin-bottom: 0.5rem;
}

.column-100 {
	width: 100%;
}

.column-501 {
	width: 50%;
	padding-right: 0.25rem;
}

.column-502 {
	width: 50%;
	padding-left: 0.25rem;
}

.column-331 {
	width: 33%;
	padding-right: 0.25rem;
}

.column-332 {
	width: 34%;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

.column-333 {
	width: 33%;
	padding-left: 0.25rem;
}

.main-select {
	font-size: 14px;
	padding: 1.2rem 0 0.2rem 0.6rem !important;
	width: 100%;
	border-color: var(--primary-grey-border);
	background: white;
	-moz-appearance: window;
  -webkit-appearance: none;
}

.main-select:focus {
	outline: 0;
	box-shadow: 0px 0px 0px 0.05rem var(--border-color-focus);
}

.custom-control-label {
	font-size: 14px;
}

.custom-radio {
	padding-right: 10px !important;
}

.custom-radio:hover {
	background: transparent !important;
}

.billadrs-row {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 14px;
	padding: 0.6rem 1rem;
	border-style: solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 1px;
	border-bottom-width: 0;
	border-color: var(--primary-grey-border);
	position: relative;
}

.billadrs-row-2 {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 14px;
	padding: 0.6rem 1rem;
	border-style: solid;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-width: 1px;
	border-color: var(--primary-grey-border);
	position: relative;
}

.billadrs-row-2-active {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.toggle-content {
	padding: 1rem 1rem 0.5rem;
	border-style: solid;
	border-width: 1px;
	border-top-width: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: var(--primary-grey-border);
	background: var(--background-grey);
}

.toggle-content-2 {
	position: relative;
	padding: 1rem 1rem 0.5rem;
	border-style: solid;
	border-width: 1px;
	border-bottom-width: 0;
	border-color: var(--primary-grey-border);
	background: var(--background-grey);
}

.ship-amount {
	position: absolute;
	right: 0.7rem;
}

.order-button {
	padding: 1rem 1.2rem;
	background: var(--button-blue);
	color: white;
	box-shadow: none;
	border-radius: 5px;
	transition: all 200ms ease-in-out;
	font-size: 14px;
}

.order-button:hover {
	background: var(--button-blue-hover);
}

.order-button:focus {
	outline: 0;
}

.discount-button {
	padding: 0.7rem 1.2rem;
	background: var(--button-blue);
	color: white;
	box-shadow: none;
	border-radius: 5px;
	transition: all 200ms ease-in-out;
	font-size: 14px;
}

.discount-button:hover {
	background: var(--button-blue-hover);
}

.discount-button:focus {
	outline: 0;
}

.paypal-section {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: var(--primary-grey-border);
	padding: 1.2rem;
}

.paypal-section-label-box {
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	top: -12px;
	left: 0;
}

.paypal-section-label {
	font-size: 14px;
	background: white;
	padding: 0 15px;
}

.paypal-logo-box {
	padding: 0.5rem;
	width: 50%;
	display: flex;
	justify-content: center;
	background: var(--paypal-orange);
	border-radius: 5px;
	cursor: pointer;
	transition: all 200ms ease-in-out;
}

.paypal-logo-box:hover {
	background: #e5b033;
}

.seperate-line {
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: var(--primary-grey-border);
	display: flex;
	width: 100%;
	justify-content: center;
	position: relative;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

.line-label {
	padding: 0 15px;
	font-size: 12px;
	color: var(--primary-grey-label);
	position: absolute;
	top: -12px;
	background: white;
}

.paypal-checkout-message {
	display: flex;
	width: 100%;
	font-size: 14px;
	text-align: center;
	padding: 1rem 5rem;
	margin-bottom: 0.5rem;
}

.sidebar-section {
	width: 100%;
	padding: 1.5rem 0;
	border-style: solid;
	border-width: 1px 0;
	border-color: var(--primary-grey-border);
}

.sidebar-section-item {
	width: 100%;
}

.sidebar-section-item-row {
	display: flex;
	align-items: center;
	padding-bottom: 1.5rem;
}

.sidebar-section-row {
	display: flex;
	align-items: center;
}

.sidebar-section-2 {
	width: 100%;
	padding: 1.5rem 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: var(--primary-grey-border);
}

.sidebar-section-3 {
	width: 100%;
	padding: 1.5rem 0;
}

.sidebar-section-4 {
	position: relative;
	width: 100%;
	margin: 1.5rem 0;
	border-top-style: solid;
	border-top-width: 1px;
	border-color: var(--primary-grey-border);
}

.sidebar-section-row-2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sidebar-section-row-2 span {
	font-size: 14px;
	line-height: 1;
}

.sidebar-section-row-2:nth-child(2) {
	margin-top: 0.8rem;
}

.discount-code {
	width: 100%;
	padding-right: 0.5rem;
}

.discount-button-box {
	padding-left: 0.5rem;
}

.total-title {
	font-size: 16px !important;
}

.currency {
	color: #717171;
	font-size: 12px !important;
	padding-right: 5px;
	margin-top: 5px;
}

.total-right {
	display: flex;
	align-items: center;
}

.total-price {
	font-size: 24px !important;
	font-weight: 500;
}

.item-stat {
	display: flex;
	align-items: center;
	width: 100%;
}

.item-price {
	font-size: 14px;
}

.item-image {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 65px;
	width: 65px;
	background: white;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: var(--primary-grey-border);
	position: relative;
}

.item-detail {
	display: block;
	padding-left: 1rem;
}

.item-name {
	font-size: 14px;
}

.item-description {
	font-size: 12px;
	color: #717171;
}

.item-amount {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -10px;
	right: -10px;
	background: rgba(114,114,114,0.9);
	z-index: 1;
	border-radius: 10px;
	color: white;
	font-size: 12px;
	padding: 0 0.4rem;
	height: 19px;
}

.paypal-offsite-icon {
	width: 100%;
	padding-top: 1rem;
	display: flex;
	justify-content: center;
}

.icon--offsite {
  width: 163px;
  height: 81px;
  background-image: url(//cdn.shopify.com/s/assets/checkout/offsite-small-09448302eb440b0631c517d604a06b106281fbc34e4aaeafe6cfd8f40ca4b5a5.png);
  background-image: url(//cdn.shopify.com/s/assets/checkout/offsite-small-0d8fd34431b27358e5c54a5ad660f76f8d628fad88320450d799287a8654982f.svg),
    none;
  background-repeat: no-repeat;
  background-size: 163px 81px;
}

.sidebar-collapse {
	width: 100%;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: var(--primary-grey-border);
	display: flex;
	justify-content: center;
}

.sidebar-toggler {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 1.25rem 0;
}

.MuiCollapse-container {
	width: 100%;
	max-width: 35rem;
}

.collapse-box {
	width: 100%;
	display: flex;
	justify-content: center;
}

.collapse-box-opened {
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: var(--primary-grey-border);
}

.sidebar-toggler-row {
	width: 100%;
	max-width: 35rem;
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
}

.sidebar-toggler-total {
	font-size: 18px;
}

.sidebar-toggler-button {
	display: flex;
	align-items: center;
	color: var(--button-blue);
}

.arrow-container {
	transition: all 335ms ease-in-out;
}

.arrow-container-rotate {
	transform: rotateZ(-180deg);
}

.no-display {
	display: none !important;
}

.whyus-label {
	width: 100%;
	position: absolute;
	top: -12px;
	display: flex;
	justify-content: center;
}

.whyus-label span {
	font-size: 14px;
	background: var(--background-grey);
	padding: 0 1rem;
}

.whyus-row {
	display: flex;
	margin-top: 1rem;
	align-items: center;
}

.whyus-badge {
	padding-right: 1rem;
}

.badge-description-header {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.2;
}

.badge-description-body {
	font-size: 12px;
	line-height: 1.1;
	padding-top: 2px;
}

.reserved-box {
	width: 100%;
	padding: 1rem 0 2rem;
}

.reserved-title {
	width: 100%;
	text-align: left;
	font-size: 14px;
	line-height: 1.3;
	margin-bottom: 10px;
}

.reserved-time {
	border-style: solid;
	border-width: 1px;
	border-color: orange;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	padding: 0.7rem;
	background: #FEF5D6;
}

.card_field {
	height: 2.8rem !important;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	background: white;
}

.cc-field-loader {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: var(--background-grey);
}

.cc-field-loader {
	color: white;
}

.cc-row {
	position: relative;
	margin-bottom: 1rem;
	background: white;
}

.cc-row-2 {
	display: flex;
	margin-bottom: 0.5rem;
}

.cc-col-1 {
	position: relative;
	width: 50%;
	padding-right: .25rem;
}

.cc-col-2 {
	position: relative;
	width: 50%;
	padding-left: .25rem;
}

.cc-label {
	position: absolute;
	padding: 0.35rem 0.75rem;
	top: 0;
	font-size: 12px;
	color: #777;
}

.cc-input {
	font-size: 14px;
  color: #495057;
  height: 2.8rem;
  width: 100%;
  padding: 1.25rem .75rem .25rem .75rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  line-height: 1.5;
  background: transparent;
}

.cc-input:focus {
	outline: 0;
	box-shadow: none;
}

.cc-input::-webkit-input-placeholder {
	color: #495057;
}

.cc-input::-ms-input-placeholder {
	color: #495057;
}

.cc-input::-moz-input-placeholder {
	color: #495057;
}

/*Floating Label Input CSS*/

.form-label-group iframe html body form input {
	background: black;
} 

.form-label-group {
  position: relative;
}


.form-label-group input,
.form-label-group label {
  height: 2.8rem;
  padding: .75rem;
  font-size: 14px;
}

.normal-input:focus {
	outline: 0 !important;
	box-shadow: 0px 0px 0px 0.05rem var(--border-color-focus) !important;
}

.error-input,
.error-input:focus {
	outline: 0 !important;
	box-shadow: 0px 0px 0px 0.05rem red !important;
	border-color: red !important;
}

.form-label-group label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #888;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

#credit-card-number {
	font-size: 100px;
}

#credit-card-number:not(:placeholder-shown),
.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

